* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.small-container .row .col-4 .add-to-cart {
    display: flex;
    color: #fff;
    background: #ff523b;
    width: 100px;
    justify-content: center;
    border-radius: 50px;
    font-size: 15px;
    margin: 0 auto;
    padding: 3px;
    transition: 0.5s;
}

.small-container .row .col-4 .add-to-cart:hover {
    background-color: #563434;
    color: #fff;
}