/* media query for less than 600 screen size */

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }
    .col-2, .col-3, .col-4 {
        flex-basis: 100%;
    }
    .single-product .row {
        text-align: left;
    }
    .single-product .col-2 {
        padding: 20px 0;
    }
    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info {
        display: none;
    }
    #myBtn{
        margin-left: 40.5%;
    }
    .container{
        margin-top: 25%;
    }
    .logo img{
        width: 50%;
    }
}

/* media query for menu */

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 80px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
    #MenuItems {
        z-index: 2;
    }
    .small-container .row-2 h2 {
        display: flex;
        position: relative;
        margin-right: 20vw;
    }
    .small-container .row-2 p {
        position: relative;
        display: flex;
        margin-right: 0px;
    }
    #myBtn{
        margin-left: 30%;
    }
}

/* media query for promotion card */

@media only screen and (max-width: 1200px) {
    .promotion-content h3 {
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 5rem;
        padding: 0.7rem 1.4rem;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 996px) {
    .promotion-layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .promotion-layout {
        grid-template-columns: 1fr;
        margin: 0 10px;
    }
    .section {
        padding: 2rem 2rem 7rem 2rem;
    }
    .promotion-content h3 {
        padding: 0.2rem 1rem;
        font-size: 1.2rem;
        font-weight: inherit;
        margin-bottom: 1rem;
    }
}

/* media query for advert layout */

@media only screen and (max-width: 996px) {
    .advert-layout .left {
        right: 5%;
    }
    .advert-layout .right {
        left: 5%;
    }
}

@media only screen and (max-width: 768px) {
    .advert .advert-layout {
        grid-template-columns: 1fr;
    }
    .section {
        padding: 1rem 0rem 4rem 0rem;
    }
}

@media only screen and (max-width: 567px) {
    .advert-layout .content span {
        font-size: 1rem;
        margin-bottom: 0.6rem;
    }
    .advert-layout .content h3 {
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
    }
    .advert-layout .content a {
        transition: all 300ms ease-in-out;
    }
}
